html, body {
        position: relative;
        height: 100%;
    }
    body {
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        color:#000;
        margin: 0;
        padding: 0;
    }

.zz-home{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:column;
    .lk_main{
        flex:1;overflow-x:auto;
        background:#F2F2F2;
        

    .swiper-container {
        width: 100%;
        height:360px;
        
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        img{width:100%;height:100%;}

    }
      
    }
}

.h-header{
    height:1.146667rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 0.266667rem;
    font-size:0.64rem;


}
.lk_nav {height: 366px;}
     .lk_nav ul{height: 366px;border-bottom: 1px solid #D9D9D9;display:flex;flex-wrap:wrap;background:#fff; }
    .lk_nav ul li{flex:20%;display:flex;flex-direction: column;justify-content:center;text-align: center;position:relative;i{ 

            
            font-size:0.64rem;
            img{


       width: 100px;height: 100px;
               }

        } 
    }

 .lk_main1{
    margin-top:15px;background:#fff; 

    .main1_img{
        img{
            width:100%;
        }
    }
    h4{
        color:#FF659A;font-weight:normal;text-align:center;
    }

    }
.main2_img{
        img{
            width:100%;
        }
    }
.main3_img{
        img{
            width:100%;
        }
    }
.main4_img{
        img{
            width:100%;
        }
    }
.main5_img{
        img{
            width:100%;
        }
    }
.main6_img{
        img{
            width:100%;
        }
    }
.main7_img{
        img{
            width:100%;
        }
    }