.zz-home{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:column;
}

.h-header{
    height:1.146667rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 0.266667rem;
    font-size:0.64rem;
}