.zz-type{
    height: 100%;
    display:flex;
    flex-direction:column;
}
.t-header{
    height:1.146667rem;
    line-height:1.146667rem;
    font-size:0.48rem;
    text-align:center;
    position:relative;
    border-bottom:0.013333rem solid #B2B2B2;
    i{
        position:absolute;
        top:0;
        right:0.133333rem;
        transform:translateY(50%);
        font-size:0.533333rem;
    }
}
.t-content{
    flex:1;
    overflow:hidden;
}
//滑动块
.swiper-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
}
//内容
.swiper-wrapper{
    width: 100%;
    height: 100%;
}
//分页大盒子
.swiper-pagination{
    display: flex;
    background: #fff;
    line-height:1.333333rem;
    position:static;
}
//分页
.swiper-pagination-bullet {
    flex:1;
    border-radius: 0;
    background:#fff;
    height:1.333333rem;
    outline: none;
}
.swiper-pagination-bullet-active {
    color:#E3417C;
    border-bottom:0.026667rem solid #E3417C;
    outline: none;
}
//内容显示框
.swiper-slide{
    display:flex;
    overflow:hidden;
    font-size:0.346667rem;
}

.type{
    width: 2.933333rem;
    display:flex;
    flex-direction:column;
    li{
        flex:1;
        display:flex;
        align-items:center;
        padding-left:0.4rem;
        background:#F6F6F6;
    }
    .type-alive{
        border-left:0.026667rem solid #CF5180;
        color:#CF5180;
        background:#fff;
    }
}

.TypeList{
    flex:1;
    overflow-x:hidden;
    a{
        text-decoration: none;
        color:#000;
    }
    li:nth-child(1) a{
        color:#BEB18F;
    }
    li:nth-child(2) a{
        color:#BEB18F;
    }
    a{
        width: 100%;
        height: 100%;
        display:flex;
        padding:0 0.32rem;
        justify-content:space-between;
        align-items:center;
        border-top:0.013333rem solid #ccc;
    }
}

.brand{
    overflow-y:scroll;
    ul{
        width: 100%;
        padding-right:0.373333rem;
    }
    a{
        width: 100%;
        height: 100%;
        display:flex;
        color:#000;
        justify-content:space-between;
        align-items:center;
        padding-left:0.373333rem;
        border-top:0.013333rem solid #ccc;
    }
    
}